.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
}

.item {
    flex: 46%;
    cursor: pointer;
    margin: 2%;
}

.item-button {
    width: 100% !important;
}

.item:hover {
    box-shadow: 0 0 white;
    background-color: rgb(236, 236, 236);
}